h1 {
    font-family: "dm-serif-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    padding-top: 20px;
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
}

h2 {
    font-family: "dm-serif-text", sans-serif;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 1.6em;

    /* padding-top: 20px; */
    text-transform: uppercase;
    color: #ffffff !important;
    text-align: center;
}

h3 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
    padding-top: 0px;
    text-transform: none;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

h4 {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3em;
    padding-top: 0px;
    text-transform: none;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
}

p {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    padding-top: 0px;
    text-transform: none;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

span {
    color: #ffffff;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.divider {
    padding-bottom: 20px;
}

.btn-primary {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: none;
    font-size: 1.1em;
    background: #007A3E;
    width: 100% !important;
    color: #ffffff;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
    border-radius: 0px;
    margin-top: 30px;
    border: none;
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:hover,
.btn-primary:active {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    box-shadow: none;
    background: #026c37;
    width: 100%;
    color: #ffffff;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;
    filter: brightness(89%);
}

.input-date {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    background-color: transparent !important;
    font-size: 16px;
    text-align: center;
    width: 100%;
    border: 2px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0px !important;
}

.age-gate {
    display: block;
    align-content: center;
    box-sizing: border-box;
    padding-top: 20px;
}

.form {
    display: block;
    margin-top: 0em;
}

.age-confirmation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-left: 5px;
    padding-right: 5px;
}

/* Footer section */
.downtown {
    position: relative;
    padding-bottom: 0px !important;
    display: block;
}

.mobile {
    padding-bottom: 0px !important;
    position: relative;
    margin-bottom: 0px !important;
}

.desktop {
    padding: 0px;
    position: relative;
    bottom: 0px;
    z-index: 0px;
}

/* XS mobile rules */
@media (max-width: 576px) {
    .step-counter .step {
        width: 38px;
    }

    .step-counter .no-entry {
        width: 80%;
        height: 10px;
        background-color: #E81C26 !important;
        border: 2px solid #ffffff;
        border-radius: 0px;
    }

    .cell-rec {
        width: 15% !important;
        height: 5%;
    }
}

/* Mobile rules */
@media (max-width:992px) {
    section {
        max-height: 100vh;
        overflow-x: hidden;
    }

    .desktop {
        visibility: hidden;
        display: none;
    }

    .body-content {
        padding-bottom: 8vh;
        margin-bottom: 0vh;
    }

    .cell-box {
        width: 55px !important;

        /* height: 40px; */
    }

    .cell-rec {
        width: 11% !important;
        height: 3%;
    }

    .code-wrap {
        display: flex;
        justify-content: center !important;
        gap: 5px;
        flex-wrap: nowrap;
        overflow-x: auto;

        /* width: 100%; */
    }

    .cell-wrap {
        display: flex;
        justify-content: center !important;
        gap: 3px;
        flex-wrap: nowrap;
        overflow-x: auto;

        /* width: 100%; */
    }

    .cell-wrapper {
        display: flex;
        justify-content: center;
        gap: 2px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .input-cell {
        font-family: "montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        background-color: transparent !important;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        border: 2px solid #ffffff;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 0px !important;
    }

    .step-counter .no-entry {
        width: 80%;
        height: 10px;
        background-color: #E81C26;
        border: 2px solid #ffffff;
        border-radius: 0px;
    }
}

/* Desktop rules */
@media (min-width:992px) {
    section {
        min-height: 100vh;
        overflow-x: hidden;
    }

    .body-content {
        padding-bottom: 10vh;
    }

    .mobile {
        visibility: hidden;
        display: none;
    }

    .cell-box {
        width: 55px !important;

        /* height: 40px; */
    }

    .cell-rec {
        width: 12% !important;
        height: 10%;
    }

    .input-cell {
        font-family: "montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #ffffff;
        background-color: transparent !important;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        border: 2px solid #ffffff;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 0px !important;
    }

    .step-counter .no-entry {
        width: 480px;
        height: 10px;
        background-color: #E81C26;
        border: 2px solid #ffffff;
        border-radius: 0px;
    }
}

label {
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
    padding-bottom: 10px;

    /* font-size: 1.1em; */
    text-transform: uppercase;
    margin-bottom: 0px !important;
}

a {
    color: #ffffff !important;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
}

a:hover {
    color: #012169;
}

.form-control {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    box-shadow: none;
    background: transparent;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 0px;
    margin-top: 0px;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding: 0.05rem 0.4rem;
}

.form-control:focus {
    box-shadow: none;
    background: transparent;
    margin-bottom: 20px;
    color: #ffffff;
}

::placeholder {
    color: #a8abac !important;
}

input[type="text"].form-control::-webkit-input-placeholder {
    color: #a8abac;
}

.aria-labelledby {
    color: #a8abac;
}

input#customFile.upload-file {
    display: flex;
    color: #012169;
    border-width: 13px;
    font-size: 0.8em;
    border-radius: 0px !important;
}

.form-check-input {
    border-width: 2px;
    background-color: transparent;
    border-color: #ffffff;
    border-radius: 0px !important;
}

.form-check-input:checked {
    color: #007A3E;
    background-color: #012169 !important;
    border-width: 2px;
    border-color: #ffffff;
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #ffffff !important;
}

input::-webkit-calendar-picker-indicator {
    display: none !important;
}

select.form-control {
    -webkit-appearance: menulist;
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

option {
    color: #012169;
    font-size: 0.9em;
}

.content {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px !important;
}

.age-confirmation form {
    width: 100%;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    font-family: "Ciutadella W04 Medium";
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #012169;

    /* Blue underline */
    padding: 0.05rem 0.4rem;
    font-size: 16px;
    color: #012169;

    /* Blue text */
    outline: none;
    cursor: pointer;
}

.custom-select:focus {
    outline: none;
}

/* Position the Font Awesome arrow */
.custom-select-wrapper .fa-chevron-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #012169;

    /* Blue arrow */
    pointer-events: none;
    font-size: 16px;
}

.enter-btn {
    margin-top: 0px;
}

body {
    background-color: #012169;
}

/* Counter */
.step-counter {
    width: 100%;
    gap: 10px;
}

.step-counter .step {
    width: 50px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
}

.step-counter .step.active {
    background: #026c37;
}

.brand-share {
    padding-top: 10px;
    padding-bottom: 0px;
}

.social-share {
    display: inline-flex;
    padding-top: 0px;
    justify-content: center;
}

.social-icons {
    height: 40px;
    width: 40px !important;
    margin-left: 5px;
    margin-right: 5px;
}
